## nom des membres du groupe
## ROKHAYA FALL
## YACINE M B NDIAYE
## NDEYE NDIAYE

## EXO1

In [1]:
import pandas as pd
dico1={"Nom" :["Doudou","Amy","Moussa",],"Age" :[10,15,20],"Poids" :["75","123","239"],"Pailles" :["4.5","5.0","6.1",],"Genre" :["M","F","M"]}
df=pd.DataFrame(dico1) # Création du DataFrame
df

      Nom  Age Poids Pailles Genre
0  Doudou   10    75     4.5     M
1     Amy   15   123     5.0     F
2  Moussa   20   239     6.1     M

In [2]:
dico1={"Vaches" :["12","20"],"Chèvres" :["22","19"]}
df=pd.DataFrame(dico1,index = ['an 1', 'an 2']) # Création du DataFrame
df

     Vaches Chèvres
an 1     12      22
an 2     20      19

In [3]:
df.to_csv("vache_chevre.csv")

In [4]:
R=pd.read_csv("vache_chevre.csv",index_col=0)
R

      Vaches  Chèvres
an 1      12       22
an 2      20       19

## EXO2

In [5]:
R=pd.read_csv("boissons_evaluees.csv",index_col=0)
R

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Q2

In [6]:
m=R.points.median()
m

88.0

## Q3

In [7]:
pays=R.country.unique()
pays

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

## Q4

In [8]:
freq=R.country.value_counts()
freq

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [9]:
#print(boisson_pays[boisson_pays.index])

In [10]:
#for i in range(len(boisson_pays.index)):
    #print(boisson_pays[i])

In [11]:
from pandas import Series
boisson_pays=R.groupby("country").points.unique()#grpby transforme en serie
M=boisson_pays.index
critique=[]
for i in range(len(boisson_pays.index)):
    critique.append(len(boisson_pays[i]))
#critiq=np.array(critique)
serie_boisson=Series(critique,index=M)
serie_boisson

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

## Q5

In [12]:
prix_centre = R.price.mean() #Valeur moyenne
R.price.map(lambda p: p - prix_centre)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [13]:
prix_centre = R.price.mean() #Valeur moyenne
R.price.map(lambda p: p - prix_centre)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

## Q6

In [14]:
import numpy as np
qualite_prix=R.points/R.price
print(np.argmax(qualite_prix))
boi_neg=R.title[np.argmax(qualite_prix)]
print("La boisson avec le meilleur raport qualite/prix est le ",boi_neg)

64590
La boisson avec le meilleur raport qualite/prix est le  Bandit NV Merlot (California)

In [15]:
print(np.nanmax(qualite_prix))

21.5

In [16]:
R.insert(2,"qualite_p",qualite_prix,allow_duplicates=False)
R

,country,description,qualite_p,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",NaN,Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",5.800000,Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",6.214286,NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",6.692308,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",1.338462,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,3.214286,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,1.200000,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,3.000000,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",2.812500,NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",4.285714,Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [17]:
meilleur_boisson=R.loc[R.loc[:,"qualite_p"]==np.nanmax(qualite_prix)]
meilleur_boisson.title #title=nom d la boisson

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object

In [18]:
###autre
bois_neg=R.points/R.price
#print(bois_neg.values)
#print(bois_neg)
indice_meill_boisson=np.where(bois_neg.values==bois_neg.max())
meill_boisson=[]
for i in range(len(indice_meill_boisson[0])):
    meill_boisson.append(R.title[indice_meill_boisson[0][i]])
print("La boisson presentant le meilleur rapport qualite/prix (égal à",bois_neg.max(),") est :",meill_boisson)

La boisson presentant le meilleur rapport qualite/prix (égal à 21.5 ) est : ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

In [19]:
#indice_meill_boisson[0]
#R.loc[indice_meill_boisson[0]]

## EXERCICE3

## QUESTION 1

In [20]:
bf=R.points.value_counts()
#print(bf)
#print(bf.index)
bf.index[0:6]

Int64Index([88, 87, 90, 86, 89, 91], dtype='int64')

In [21]:
R.groupby("taster_twitter_handle").points.count()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: points, dtype: int64

In [22]:
twitter_critique=R.groupby("taster_twitter_handle").points.count()
critiq_twit=[]
for i in range (len(twitter_critique.index)):
    critiq_twit.append(len(twitter_critique.index[i]))
serie_twit_critique=Series(critiq_twit,index=twitter_critique.index)
#print(serie_twit_critique[0])
serie_twit_critique

taster_twitter_handle
@AnneInVino         11
@JoeCz               6
@bkfiona             8
@gordone_cellars    16
@kerinokeefe        12
@laurbuzz            9
@mattkettmann       13
@paulgwine          11
@suskostrzewa       13
@vboone              7
@vossroger          10
@wawinereport       13
@wineschach         11
@winewchristina     15
@worldwineguys      14
dtype: int64

## QUESTION 2

In [37]:
while True:
    try:
        som_donn=int(input("Entrer la somme:"))
        assert som_donn>=R.price.min()
        break
    except AssertionError:
        print("Aucune boisson disponible pour cette somme:")
    except ValueError:
        print("Vous n'avez pas sasie un nombre: ")
g=R.loc[R.loc[:,"price"]<=som_donn]
meil=g.points/g.price
g.insert(2,"meilleure",meil,allow_duplicates=False)
meill_boison=g[g.meilleure.values==np.nanmax(meil)]
print("La meilleure boisson pour cette somme est :",meill_boisson)

Entrer la somme:3
Aucune boisson disponible pour cette somme:
Entrer la somme:4
La meilleure boisson pour cette somme est : ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

In [33]:
meill_boison

,country,description,meilleure,qualite_p,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",21.5,21.5,NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,21.5,21.5,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

## QUESTION 3

In [46]:
prix_max=R.groupby("variety").price.max()
prix_max

variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64

In [47]:
prix_min=R.groupby("variety").price.min()
prix_min

variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

In [48]:

dico={"max":prix_max,"min":prix_min}
df=pd.DataFrame(dico,index=a.index)
df

               max   min
variety
Abouriou      75.0  15.0
Agiorgitiko   66.0  10.0
Aglianico    180.0   6.0
Aidani        27.0  27.0
Airen         10.0   8.0
...            ...   ...
Zinfandel    100.0   5.0
Zlahtina      16.0  13.0
Zweigelt      70.0   9.0
Çalkarası     19.0  19.0
Žilavka       15.0  15.0

[707 rows x 2 columns]

## QUESTION 4

In [49]:
#otre meth Q4
n=R.groupby("taster_name").points.mean()
n

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

## Q5

In [50]:
R.points.dtypes

dtype('int64')

## Q6

In [ ]:
#l=R.isnull().sum().sort_values(ascending=False)
#l

In [ ]:
#l[6]

In [51]:
prix_nan=R[pd.notnull(R.price)]
print("Sur",len(R),"avis il manque",len(R.price)-len(prix_nan.price))

Sur 129971 avis il manque 8996